body {
  margin: 0 auto;
  font-family: arial;
}
header {
  top: 0;
  height: 110px;
  width: 100%;
  line-height: 100px;
  margin: 0 auto;
  background-image: url("../images/space-header.jpg");
  background-size: contain;
  color: white;
  text-align: center;
}
h1 {
  font-size: 50px;
  margin: 0 auto;
  vertical-align: middle;
}
#score {
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  padding: 30px;
}
.score-contents {
  margin: 20px auto;
}
#control-panel {
  text-align: center;
}
.roll-button{
  margin: 10px 10px;
}
