body {
  margin: 0 auto;
  font-family: arial;
}

header {
  top: 0;
  height: 110px;
  width: 100%;
  line-height: 100px;
  margin: 0 auto;
  background-image: url("../images/space-header.jpg");
  background-size: contain;
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0 auto;
  vertical-align: middle;
}

#frame-counter {
    text-align: center;
    height: 90px;
    width: 150px;
    border: 2px dashed gray;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 auto;
}

table {
  table-layout: fixed;
  text-align: center;
  margin: 0 auto;
  word-break:break-all
}

.tg {
  border-collapse: collapse;
  border-spacing:0
}

.tg th {
  width: 100px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  border-color: black;
}

.tg td {
  width: 30px;
  margin: 0 auto;
  height: 25px;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  border-color: black
}

#score {
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  padding: 30px;
}

.score-contents {
  margin: 20px auto;
}

#control-panel {
  margin: 30px;
  text-align: center;
}
.roll-button{
  margin: 10px 10px;
}
